body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
section{
    background-color: rgb(19, 95, 209);
    display: flex;
    /* align-items: flex-end; */
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px;
    border-radius: 20px;
    box-shadow:4px 4px 11px 0px black;
    height: 300px;
}
h2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    color: rgb(243, 196, 42);
    
}
input{
    height: 35px;
    width: 100%;
    box-shadow:2px 2px 15px 0px black;
    /*border-radius: 5px;*/
    margin: 10px;
    text-align: center;

}
label{
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
}
input[type='submit']{
    color: black;
    background-color: rgb(243, 196, 42);
    font-weight: bold;
    font-size: 15px;
}
p{
    font-weight: bold;
    margin: 8px;
    color:rgb(243, 196, 42);
}
